<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="gravatar_edit" align="center">
      <%= gravatar_for @user %>
    </div>

    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'%>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label :location %>
      <%= f.text_field :location, class: 'form-control' %>

      <%= f.label :URL %>
      <%= f.text_field :URL, class: 'form-control' %>

      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: 'form-control' %> 

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    
    </br>
        
  </div>
</div>